---
import Layout from "../layouts/Layout.astro";

import HeroSection from "../components/hero-section.astro";
import BrandsSection from "../components/brands-section.astro";
import BenefitsSection from "../components/benefits-section.astro";
import WhoWeAreSection from "../components/who-we-are-section.astro";
import ServicesSection from "../components/services-section.astro";
import RequirementsSection from "../components/requirements-section.astro";
import FormSection from "../components/form-section.astro";
import ChatBotBubble from "../components/chatbot-bubble";
---

<Layout title="Inverfin">
  <main class="relative overflow-hidden">
    <HeroSection />
    <BrandsSection />
    <BenefitsSection />

    <!-- Red line -->
    <div class="relative w-full my-10 h-20">
      <div class="absolute w-[110%] bg-primary rotate-2 h-full -left-4"></div>
    </div>

    <ServicesSection />
    <WhoWeAreSection />
    <RequirementsSection />
    <FormSection />

    <ChatBotBubble client:load />
  </main>
</Layout>
