---
import HeroSection from "../components/hero-section.astro";
import BrandsSection from "../components/brands-section.astro";
import BenefitsSection from "../components/benefits-section.astro";
import WhoWeAreSection from "../components/who-we-are-section.astro";
import ServicesSection from "../components/services-section.astro";
import RequirementsSection from "../components/requirements-section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Inverfin">
  <main class="relative">
    <HeroSection />
    <BenefitsSection />
    <ServicesSection />
    <BrandsSection />
    <WhoWeAreSection />
    <RequirementsSection />
  </main>
</Layout>
