---
import HeroSection from "../components/hero-section.astro";
import BrandsSection from "../components/brands-section.astro";
import BenefitsSection from "../components/benefits-section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Inverfin">
  <main class="relative">
    <HeroSection />
    <BrandsSection />
    <BenefitsSection />
  </main>
</Layout>
