---
import Layout from "../layouts/Layout.astro";

import HeroSection from "../components/hero-section.astro";
import BrandsSection from "../components/brands-section.astro";
import Form from "../components/form";
import BenefitsSection from "../components/benefits-section.astro";
import WhoWeAreSection from "../components/who-we-are-section.astro";
import ServicesSection from "../components/services-section.astro";
import RequirementsSection from "../components/requirements-section.astro";
---

<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API = Tawk_API || {},
    Tawk_LoadStart = new Date();
  (function () {
    var s1 = document.createElement("script"),
      s0 = document.getElementsByTagName("script")[0];
    s1.async = true;
    s1.src = "https://embed.tawk.to/66c475e2ea492f34bc08142f/1i5nmovc3";
    s1.charset = "UTF-8";
    s1.setAttribute("crossorigin", "*");
    s0.parentNode.insertBefore(s1, s0);
  })();
</script>
<!--End of Tawk.to Script-->
<Layout title="Inverfin - Inverfin S.A.">
  <main class="relative overflow-hidden">
    <HeroSection />
    <BrandsSection />
    <Form client:load />
    <BenefitsSection />
    <ServicesSection />
    <WhoWeAreSection />
    <RequirementsSection />
  </main>
</Layout>
