---
import Layout from "../layouts/Layout.astro";

import HeroSection from "../components/hero-section.astro";
import BrandsSection from "../components/brands-section.astro";
import Form from "../components/form";
import BenefitsSection from "../components/benefits-section.astro";
import WhoWeAreSection from "../components/who-we-are-section.astro";
import ServicesSection from "../components/services-section.astro";
import RequirementsSection from "../components/requirements-section.astro";
---

<Layout title="Inverfin - Inverfin S.A.">
  <main class="relative overflow-hidden">
    <HeroSection />
    <BrandsSection />
    <Form client:load />
    <BenefitsSection />
    <ServicesSection />
    <WhoWeAreSection />
    <RequirementsSection />
  </main>
</Layout>
