---
import HeroSection from "../components/hero-section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Inverfin">
  <main class="relative">
    <HeroSection />
  </main>
</Layout>
