---
import BenefitCard from "./benefit-card.astro";
import ChartIcon from "../icons/chart-no-axes-combined.astro";
import WrenchIcon from "../icons/wrench.astro";
import ShieldIcon from "../icons/shield.astro";
import CircleCheckIcon from "../icons/circle-check.astro";
import { RevealFromBottom } from "./reveal-from-bottom";
import { RevealFromSide } from "./reveal-from-side";

const benefits = [
  {
    title: "Experiencia Comprobada",
    description:
      "Más de 30 años brindando asesoramiento personalizado y armando carteras a medida.",
    icon: ChartIcon,
  },
  {
    title: "Estrategias Personalizadas",
    description:
      "Cada negociación es única; adaptamos nuestras estrategias a tus necesidades específicas.",
    icon: WrenchIcon,
  },
  {
    title: "Resultados Tangibles",
    description:
      "Nos enfocamos en resultados concretos, asegurando que cada acuerdo beneficie a tus intereses.",
    icon: CircleCheckIcon,
  },
  {
    title: "Confianza y Transparencia",
    description:
      "Operamos con total transparencia y manteniendo siempre tu confianza como nuestra prioridad.",
    icon: ShieldIcon,
  },
];
---

<section class="relative" id="benefits">
  <div
    class="wrapper flex flex-col items-center gap-12 lg:gap-20 border-t border-b py-20"
  >
    <RevealFromBottom className="space-y-1 text-center" client:load>
      <>
        <h3 class="text-3xl md:text-4xl font-bold">
          ¿Por qué Elegir Inverfin?
        </h3>
        <p class="text-muted-foreground">
          Descubre cómo podemos ayudarte a alcanzar tus metas financieras.
        </p>
      </>
    </RevealFromBottom>

    <div class="flex justify-around items-center gap-10">
      <RevealFromSide side="left" className="hidden lg:flex w-1/4" client:load>
        <picture class="hidden lg:flex w-full">
          <img
            src="/illustrations/secure-illustration.svg"
            alt="Ilustración de certificación"
            loading="lazy"
            class="object-cover"
            width="500"
            height="300"
          />
        </picture>
      </RevealFromSide>

      <div class="grid grid-cols-2 xl:grid-cols-3 gap-10">
        {
          benefits.map((benefit, index) => (
            <RevealFromBottom delay={0.25 * (index + 1)} client:load>
              <BenefitCard
                title={benefit.title}
                description={benefit.description}
              >
                <benefit.icon />
              </BenefitCard>
            </RevealFromBottom>
          ))
        }
      </div>
    </div>
  </div>
</section>
