---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<article class="flex flex-col max-w-72">
  <div class="bg-secondary rounded-sm p-2 grid place-content-center w-fit">
    <slot />
  </div>
  <h3 class="text-xl font-semibold mt-2">{title}</h3>
  <p class="text-foreground">
    {description}
  </p>
</article>
