<section class="py-6 bg-white" id="brands">
  <div class="wrapper flex flex-wrap items-center justify-around gap-10">
    <picture class="h-24 w-44">
      <a
        href="https://www.byma.com.ar/en/homepage/"
        target="_blank"
        rel="noreferrer"
      >
        <img
          src="/logos/byma.svg"
          alt="Logo de Byma"
          class="size-full object-fill"
          width="200"
          height="100"
          loading="lazy"
        />
      </a>
    </picture>
    <picture class="h-24 w-44">
      <a href="https://www.mav-sa.com.ar/" target="_blank" rel="noreferrer">
        <img
          src="/logos/mav.svg"
          alt="Logo de Mercado Argentino de Valores"
          class="size-full object-fill"
          width="200"
          height="100"
          loading="lazy"
        />
      </a>
    </picture>
    <picture class="h-24 w-44">
      <a
        href="https://www.argentina.gob.ar/cnv"
        target="_blank"
        rel="noreferrer"
      >
        <img
          src="/logos/cnv.svg"
          alt="Logo de Comisión Nacional de Valores"
          class="size-full object-fill"
          width="200"
          height="100"
          loading="lazy"
        />
      </a>
    </picture>
  </div>
</section>
