<section class="py-10 bg-white" id="brands">
  <div class="wrapper flex flex-wrap items-center justify-around gap-10">
    <picture class="h-24 w-44">
      <img
        src="/logos/byma.svg"
        alt="Logo de Byma"
        class="size-full object-fill"
      />
    </picture>
    <picture class="h-24 w-44">
      <img
        src="/logos/mav.svg"
        alt="Logo de Mav"
        class="size-full object-fill"
      />
    </picture>
    <picture class="h-24 w-44">
      <img
        src="/logos/cnv.svg"
        alt="Logo de Rofex"
        class="size-full object-fill"
      />
    </picture>
  </div>
</section>
