---
import SmartphoneIcon from "../icons/smartphone.astro";
import PhoneIcon from "../icons/phone.astro";
import MailIcon from "../icons/mail.astro";
import MapPinIcon from "../icons/map-pin.astro";

const navLinks = [
  {
    title: "Inicio",
    href: "#",
  },
  {
    title: "Beneficios",
    href: "#",
  },
  {
    title: "Quénes somos",
    href: "#",
  },
  {
    title: "Servicios",
    href: "#",
  },
  {
    title: "Empezar a invertir",
    href: "#",
  },
  {
    title: "Ubicación",
    href: "#",
  },
];
---

<footer class="relative">
  <div
    class="-z-10 bg-neutral-200 absolute left-0 top-0 w-full border-t h-full"
  >
  </div>

  <div class="flex justify-between gap-10 wrapper items-start py-16">
    <div class="flex gap-4 items-center">
      <img
        src="/public/inverfin-logo.webp"
        alt="Logo de Inverfin"
        class="mix-blend-color-burn"
      />
      <div class="flex flex-col font-bold text-sm">
        <p>INVERFIN S.A.</p>
        <p>Agente de negociación - Matrícula 518 CNV</p>
        <p>Miembro del Mercado Argentino de Valores</p>
      </div>
    </div>

    <div class="flex flex-col gap-4 text-sm">
      <div class="flex gap-2 items-center">
        <SmartphoneIcon class="size-4" />
        <p>(+54 261) 4544442</p>
      </div>
      <div class="flex gap-2 items-center">
        <PhoneIcon class="size-4" />
        <p>(+54 261) 423-1213 / 423-1413</p>
      </div>
      <div class="flex gap-2 items-center">
        <MailIcon class="size-4" />
        <p>info@inverfinsa.com.ar</p>
      </div>
      <div class="flex gap-2 items-center">
        <MapPinIcon class="size-4" />
        <p>
          Sarmiento 199, 2º piso, oficina 216 Edificio Bolsa de Comercio
          M5500GIC – Mendoza -Argentina
        </p>
      </div>
    </div>

    <div class="space-y-2">
      <p class="font-semibold">Navegación</p>
      <div class="grid grid-cols-2 gap-x-6 gap-y-3 ml-2">
        {
          navLinks.map((link) => (
            <a
              href={link.href}
              class="hover:text-primary duration-200 text-nowrap text-sm"
            >
              {link.title}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</footer>
