---
import Button from "./button.astro";
---

<section
  class="wrapper pt-10 pb-16 flex max-md:flex-col justify-between gap-10 lg:gap-20"
  id="form"
>
  <div class="flex flex-col gap-1 w-full max-md:text-center">
    <h3 class="text-3xl md:text-4xl font-bold">
      Obtené asesoramiento personalizado
    </h3>
    <p class="text-muted-foreground">
      Completá el formulario y un asesor te contactará a la brevedad.
    </p>

    <picture class="hidden md:flex w-11/12 lg:w-2/3 mt-20">
      <img
        src="/illustrations/form-illustration.svg"
        alt="Ilustración de certificación"
        class="object-cover"
      />
    </picture>
  </div>

  <form
    action="https://formsubmit.co/anothersanti88@gmail.com"
    method="POST"
    class="border-2 rounded-sm p-8 flex flex-col gap-4 w-full"
  >
    <div class="flex flex-col gap-2">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        placeholder="Escribe tu nombre"
        name="nombre"
        id="nombre"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label for="apellido">Apellido</label>
      <input
        type="text"
        placeholder="Escribe tu apellido"
        name="apellido"
        id="apellido"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label for="email">Email</label>
      <input
        type="email"
        placeholder="ejemplo@gmail.com"
        name="email"
        id="email"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label for="telefono">Teléfono</label>
      <input
        type="number"
        placeholder="2611234567"
        name="telefono"
        id="telefono"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label for="mensaje">Mensaje</label>
      <textarea
        name="mensaje"
        id="mensaje"
        rows="5"
        placeholder="Deja tu mensaje aquí"
        class="resize-y min-h-12"></textarea>
    </div>

    <!-- hidden inputs -->
    <input type="hidden" name="_next" value="http://localhost:4321" />

    <!-- suject -->
    <input type="hidden" name="_subject" value="Nuevo contacto" />

    <!-- disable captcha -->
    <input type="hidden" name="_captcha" value="false" />

    <!-- autoresponse -->
    <!-- <input
      type="hidden"
      name="_autoresponse"
      value="Gracias por contactarnos! En breves nos pondremos en contacto con usted."
    /> -->

    <!-- email tamplate -->
    <input type="hidden" name="_template" value="table" />

    <Button className="self-end mt-8">Enviar</Button>
  </form>
</section>
