---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<article
  class="relative overflow-hidden flex flex-col gap-4 bg-card border rounded-md p-4 h-full w-full max-w-96 shadow-md"
>
  <!-- red line to the left of the card -->
  <div class="absolute left-0 top-0 h-full w-[5px] bg-primary"></div>

  <header class="flex gap-2 items-center">
    <slot />
    <h3 class="text-lg font-bold">{title}</h3>
  </header>
  <p class="text-card-foreground max-md:text-sm">
    {description}
  </p>
</article>
