---
import ChartSplineIcon from "../icons/chart-spline.astro";
import ReceiptIcon from "../icons/receipt.astro";
import CaptionsIcon from "../icons/captions.astro";
import MessageSquareIcon from "../icons/message-square.astro";
import BadgeDollarSignIcon from "../icons/badge-dollar-sign.astro";
import TrendingUpIcon from "../icons/trending-up.astro";
import CircuitBoardIcon from "../icons/circuit-board.astro";
import TicketCheckIcon from "../icons/ticket-check.astro";
import RadioTowerIcon from "../icons/radio-tower.astro";
import ServiceCard from "./service-card.astro";

const services = [
  {
    title: "Acciones",
    description:
      "Títulos representativos del capital de una sociedad anónima. El inversor es socio proporcional.",
    icon: ChartSplineIcon,
  },
  {
    title: "Cedears",
    description:
      "Certificados de acciones extranjeras que cotizan en la bolsa Argentina.",
    icon: ReceiptIcon,
  },
  {
    title: "Títulos públicos",
    description:
      "Representan deuda emitida por el estado nacional, provincial y municipal. Pagan renta fija.",
    icon: CaptionsIcon,
  },
  {
    title: "Obligaciones negociables",
    description:
      "Títulos representativos de deuda emitidos por empresas privadas. Pagan renta fija.",
    icon: MessageSquareIcon,
  },
  {
    title: "Fidecoismos financieros",
    description:
      "Patrimonios autónomos representados en certificados de deuda y de participación.",
    icon: BadgeDollarSignIcon,
  },
  {
    title: "Caución bursátil",
    description:
      "Operación financiera para tomar o invertir fondos con garantía real de títulos valores.",
    icon: TrendingUpIcon,
  },
  {
    title: "Factura de crédito electrónica",
    description: "Negociación bursátil para financiamiento o inversión.",
    icon: CircuitBoardIcon,
  },
  {
    title: "Cheque de pago diferido",
    description: "Negociación bursátil para financiamiento o inversión.",
    icon: TicketCheckIcon,
  },
  {
    title: "Operaciones en el exterior",
    description:
      "Distintas operaciones realizables en convenio con QUIENA S.A. AAGI",
    icon: RadioTowerIcon,
  },
];
---

<section class="wrapper py-20 flex flex-col gap-20 items-center" id="services">
  <div class="text-center space-y-1">
    <h3 class="text-3xl md:text-4xl font-bold">Nuestros servicios</h3>
    <p class="text-muted-foreground">
      Ofrecemos una amplia gama de servicios adaptados a tus necesidades para
      maximizar tus inversiones.
    </p>
  </div>

  <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
    {
      services.map((service) => (
        <ServiceCard title={service.title} description={service.description}>
          <service.icon />
        </ServiceCard>
      ))
    }
  </div>
</section>
