---
import { RevealFromSide } from "./reveal-from-side";
---

<section
  class="wrapper flex max-md:flex-col justify-between gap-10 py-20 border-t"
  id="who-we-are"
>
  <RevealFromSide side="left" className="flex flex-col gap-4" client:load>
    <>
      <h3 class="text-3xl md:text-4xl font-bold text-foreground">
        ¿Quiénes Somos?
      </h3>
      <p class="text-muted-foreground">
        En Inverfin S.A., somos un equipo de profesionales dedicados al mundo de
        las inversiones, con una sólida trayectoria en el mercado financiero.
        Como agente de negociación registrado en la Comisión Nacional de Valores
        y miembro del Mercado Argentino de Valores, ofrecemos un servicio
        confiable y transparente, enfocado en las necesidades individuales de
        cada cliente.
      </p>
      <p class="text-muted-foreground">
        Nos apasiona brindar asesoramiento personalizado que permita a nuestros
        clientes tomar decisiones informadas y estratégicas en sus inversiones.
        Creemos en la importancia de la educación financiera, y es por eso que
        acompañamos a cada inversor en su camino hacia el éxito, ya sea que esté
        dando sus primeros pasos o buscando diversificar su portafolio.
      </p>
      <p class="text-muted-foreground">
        En Inverfin, la confianza y la ética son nuestros valores fundamentales.
        Nuestro compromiso es construir relaciones duraderas, basadas en la
        integridad y el respeto mutuo, para ayudar a nuestros clientes a
        alcanzar sus objetivos financieros con seguridad y eficiencia.
      </p>
    </>
  </RevealFromSide>

  <RevealFromSide side="right" className="w-1/2 xl:w-1/4" client:load>
    <picture class="hidden lg:flex w-full">
      <img
        src="/illustrations/team-illustration.svg"
        alt="Ilustración de equipo"
        loading="lazy"
        class="object-contain"
        width="600"
        height="600"
      />
    </picture>
  </RevealFromSide>
</section>
