<section class="h-96 bg-gray-300" id="who-we-are">
  <div class="wrapper py-16 flex flex-col justify-center">
    <h2 class="text-4xl font-bold text-center">¿Quiénes somos?</h2>
    <h3 class="text-4xl font-bold text-center">COMING SOON</h3>
  </div>
</section>
