<section class="bg-primary/10" id="who-we-are">
  <div class="wrapper flex max-md:flex-col justify-between gap-10 py-20">
    <div class="space-y-4 w-full">
      <h3 class="text-3xl md:text-4xl font-bold">¿Quiénes Somos?</h3>
      <p class="text-muted-foreground">
        Descubre cómo podemos ayudarte a alcanzar tus metas financieras.Descubre
        cómo podemos ayudarte a alcanzar tus metas financieras.Descubre cómo
        podemos ayudarte a alcanzar tus metas financieras.Descubre cómo podemos
        ayudarte a alcanzar
      </p>
      <p class="text-muted-foreground">
        tus metas financieras.Descubre cómo podemos ayudarte a alcanzar tus
        metas financieras.Descubre cómo podemos ayudarte a alcanzar tus metas
        financieras.Descubre cómo podemos ayudarte a alcanzar tus metas
        financieras.Descubre cómo podemos ayudarte a alcanzar tus metas
        financieras.
      </p>
    </div>

    <div class="w-full aspect-square bg-primary/50 rounded-md"></div>
  </div>
</section>
